@model IEnumerable<QuanLyTrungTamNN.Models.CLASS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassID })
        </td>
    </tr>
}

</table>
